# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# PyInstaller build artifacts
build/
dist/
*.spec.bak

# Logs
*.log

# IDE
.vscode/settings.json
*.suo
*.user

# OS
Thumbs.db
Desktop.ini
